<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="row">
    <div id="sidebar" class="col-md-2 col-sm-12 text-center">
        <ul id="categories">
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=music">Music</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=fashion">Fashion</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=realEstate">Real Estate</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=travel">Travel</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=food">Food</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=wedding">Wedding</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=movie">Movie</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=comics">Comics</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=photography">Photography</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=law">Law</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=health">Health</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=environment">Environment</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=technology">Technology</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=marketing">Marketing</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=lifestyle">Lifestyle</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=education">Education</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=animals">Animals</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=sports">Sports</a></li>
            <li class="btn btn-block"><a style="text-decoration: none;" href="/category?cat=political">Political</a></li>
        </ul>
        <div id="ss">
        <input type="text" class="form-control" id="search" name="q" placeholder="🔎 Search Blogs">
        <div id="sugg"></div>
        </div>
        
    </div>
    <div id="right" class="col-md-10 col-sm-12">
    <h1 id="logo" class="container">BlogPortal</h1> <br>
    {{#if user}}
    <div class="jumbotron text-center">
        <h1><img class="shadow" id="userimg" src="{{dp}}" alt="dp"></h1>
        <h1>Welcome, {{user}}</h1> <br>
        <a class="btn btn-info btn-block text-center" href="/signout">SIGNOUT</a>
        <a class="btn btn-info btn-block text-center" href="/createb">CREATE BLOG</a>
        <a class="btn btn-info btn-block text-center" href="/myBlogs">MY BLOGS</a>
    </div>
    {{else}}
    <div class="jumbotron">
        <a class="btn btn-info btn-block text-center" href="/signin">SIGNIN</a>
        <a class="btn btn-info btn-block text-center" href="/signin/facebook">SIGNIN WITH FACEBOOK</a>
        <a class="btn btn-info btn-block text-center" href="/signin/google">SIGNIN WITH GOOGLE</a>
    </div>
    {{/if}}
    
    <br>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>TOP FEATURED BLOGS</h1>
        </div>
        <div class="row justify-content-center">
        {{#each blogs as |b|}}
            <div class="col-xl-3 col-md-5 col-sm-10 blog">
                <div class="card border shadow">
                <img src="{{b.coverimg}}" class="card-img-top" alt="coverimage">
                <img src="{{b.dp}}" class="dp shadow" alt="profile img" width="75px">
                <h5 class="card-subtitle text-muted mb-2 text-center"><b>Category:</b> {{b.category}}</h5>
                <div class="card-body">
                <div id="matter" class="text-center">
                    <a href="/blog?title={{b.title}}" class="btn btn-dark"><h3 class="card-title">{{b.title}}</h3></a>
                </div>
                <div class="card-text text-center">
                <b>Author:</b> {{b.author}} <br> <b>Created:</b> {{b.date}} <br> <b>Likes 👍:</b> <span>{{b.likes}}</span>
                </div>
                </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
    <button class="btn btn-light btn-block border" style="margin-bottom: 10px;"><a style="text-decoration: none;" class="btn" href="/all">Show All</a></button>
    </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="home.js"></script>
    <link rel="stylesheet" href="home.css">
</body>
</html>