<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="oneblog.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="javascript:history.go(-1)">Back</a>
    </nav>
    
    {{#each bb.one as |b|}}
    <div class="row justify-content-center">
    <div class="col-xl-10">
        <img src="{{b.coverimg}}" id="cover" alt="coverimage">
        <br> <br>
        <div class="jumbotron">
        <h1 id="title">{{b.title}} <button id="like" style="cursor: pointer; background-color: rgba(255, 255, 255, 0); border: 0px;">👍</button></h1>
        </div>
        <div id="blog">
        {{#each ../bb.two}}
            <p>{{this}}</p>
        {{/each}}
        </div>
        <div class="container text-center">
        <p><img class="shadow" src="{{b.dp}}" id="dp" alt="profile img"></p>
        <p><b>Author:</b> {{b.author}} &nbsp;&nbsp; <b>Date:</b> {{b.date}} &nbsp;&nbsp; <b>Likes:</b> <span>{{b.likes}}</span></p>
        <h3 id="signature">Liked it ? Don't forget to leave a like <a style="text-decoration: none; color: blue;" href="#like">♥</a></h3> <br>
        </div>
    </div>
    </div>

        <div class="ncomment">
            <div class="container">
            <form action="/addcomment" method="POST">
                <h2>Add comment</h2> <br>
                <textarea name="title" style="display: none">{{b.title}}</textarea>
                <textarea name="author" style="display: none">{{b.author}}</textarea>
                <textarea name="dp" style="display: none">{{b.dp}}</textarea>
                <div class="form-group">
                <input class="form-control" name="comment" type="text" required style="width: 50%; display:inline;">
                <button class="btn btn-success">Post</button>
                </div>
            </form>
            <hr>
            <h3>Comments:</h3> <br>
            <ul id="{{b.title}}" class="comments"></ul>
            </div>
        </div>
    {{/each}}
    

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="home.js"></script>
</body>
</html>